.sds-text {
  margin: 0;
  color: var(--sds-color-text-default-default);
  font-family: var(--sds-typography-body-font-family);
}

.sds-text[data-variant='titleHero'] {
  font-family: var(--sds-typography-title-hero-font-family);
  font-size: var(--sds-typography-title-hero-size);
  font-weight: var(--sds-typography-title-hero-font-weight);
  line-height: 1.2;
  letter-spacing: -3px;
}

.sds-text[data-variant='titlePage'] {
  font-family: var(--sds-typography-title-page-font-family);
  font-size: var(--sds-typography-title-page-size-base);
  font-weight: var(--sds-typography-title-page-font-weight);
  line-height: 1.2;
  letter-spacing: -2px;
}

.sds-text[data-variant='subtitle'] {
  font-family: var(--sds-typography-subtitle-font-family);
  font-size: var(--sds-typography-subtitle-size-base);
  font-weight: var(--sds-typography-subtitle-font-weight);
  line-height: 1.2;
}

.sds-text[data-variant='heading'] {
  font-family: var(--sds-typography-heading-font-family);
  font-size: var(--sds-typography-heading-size-base);
  font-weight: var(--sds-typography-heading-font-weight);
  line-height: 1.2;
  letter-spacing: -2px;
}

.sds-text[data-variant='subheading'] {
  font-family: var(--sds-typography-subheading-font-family);
  font-size: var(--sds-typography-subheading-size-medium);
  font-weight: var(--sds-typography-subheading-font-weight);
  line-height: 1.2;
}

.sds-text[data-variant='body'] {
  font-size: var(--sds-typography-body-size-medium);
  font-weight: var(--sds-typography-body-font-weight-regular);
  line-height: 1.4;
}

.sds-text[data-variant='bodyStrong'] {
  font-size: var(--sds-typography-body-size-medium);
  font-weight: var(--sds-typography-body-font-weight-strong);
  line-height: 1.4;
}

.sds-text[data-variant='bodyEmphasis'] {
  font-size: var(--sds-typography-body-size-medium);
  font-weight: var(--sds-typography-body-font-weight-regular);
  font-style: var(--sds-typography-body-font-style-italic);
  line-height: 1.4;
}

.sds-text[data-variant='bodyLink'] {
  font-size: var(--sds-typography-body-size-medium);
  font-weight: var(--sds-typography-body-font-weight-regular);
  line-height: 1.4;
  color: var(--sds-color-text-brand-default);
  text-decoration: underline;
}

.sds-text[data-variant='bodySmall'] {
  font-size: var(--sds-typography-body-size-small);
  font-weight: var(--sds-typography-body-font-weight-regular);
  line-height: 1.4;
}

.sds-text[data-variant='bodyCode'] {
  font-family: var(--sds-typography-code-font-family);
  font-size: var(--sds-typography-code-size-base);
  font-weight: var(--sds-typography-code-font-weight);
  line-height: 1.3;
}

.sds-text[data-variant='listItem'] {
  font-size: var(--sds-typography-body-size-medium);
  font-weight: var(--sds-typography-body-font-weight-regular);
  line-height: 1.4;
}

.sds-text[data-variant='linkListItem'] {
  font-size: var(--sds-typography-body-size-medium);
  font-weight: var(--sds-typography-body-font-weight-regular);
  line-height: 1.4;
  color: var(--sds-color-text-brand-default);
  text-decoration: underline;
}
