.sds-nav-button {
  display: inline-flex;
  align-items: center;
  padding: var(--sds-size-space-200);
  background: transparent;
  border: 0;
  font-family: var(--sds-typography-body-font-family);
  color: var(--sds-color-text-default-secondary);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.sds-nav-button[data-direction='column'] {
  flex-direction: column;
  gap: var(--sds-size-space-200);
}

.sds-nav-button[data-direction='row'] {
  gap: var(--sds-size-space-150);
  justify-content: center;
}

.sds-nav-button[data-size='sm'] .sds-nav-button__label {
  font-size: var(--sds-typography-body-size-small);
  font-weight: var(--sds-typography-body-font-weight-strong);
  line-height: 1;
}

.sds-nav-button[data-size='md'] .sds-nav-button__label {
  font-size: var(--sds-typography-body-size-medium);
  font-weight: var(--sds-typography-body-font-weight-regular);
  line-height: 1;
}

.sds-nav-button[data-active='true'] {
  color: var(--sds-color-text-brand-default);
}

.sds-nav-button:hover:not(:disabled) {
  background-color: var(--sds-color-background-default-default-hover);
}

.sds-nav-button__icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.sds-nav-button__label {
  text-align: center;
  white-space: nowrap;
}
